.monitor {
    position: absolute;
    right: 20px; top: 60px;
    color: #D87093;
    cursor: pointer;
}

.container {
    width: 100%; height: 100%;
    box-sizing: border-box;
    padding: 11px;
    display: flex;
    flex-direction: column;
}

.input {
    display: flex;
    flex-direction: row;
    padding-bottom: 11px;
    border-bottom: 1px solid #ccc;
}

.msgs {
    flex: 1;
    overflow-y: scroll;
}